@let formattedDeadline = formatDate(deadline()); @let priorityColor = getPriorityColor(priority());

<div class="flex flex-col align-top gap-2 min-h-40 max-h-64 p-2">
  <div class="flex flex-row justify-between items-top">
    <p class="font-bold text-2xl">{{ title() }}</p>
    <lucide-icon [img]="TriangleAlertIcon" size="32" [color]="priorityColor" />
  </div>
  <span class="border-1 border-black break-all min-h-32 max-h-max p-2">{{ description() }}</span>
  <p class="self-end">Created at {{ formattedDeadline }}</p>
</div>
